.aboutContainer {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.aboutFirstContainer {
  width: 100%;
}

.aboutSubtitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Bebas Neue';
  margin-bottom: 5.5px;
}

.aboutTitle {
  line-height: 33px;
  max-width: 270px;
  margin-bottom: 38px;
}

.aboutLine {
  height: 1.755px;
  border-radius: 2.345px;
  background: var(--white);
  margin-bottom: 26px;
}

.aboutTextContainer {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 16px;
  padding-right: 18px;
  max-width: 280px;
  width: 100%;
}

.aboutText {
  width: 100%;
  text-align: justify;
}

.aboutTextHighlight {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: 3.676px;
}

.aboutSwiperContainer {
  margin-top: 45px;
  width: 100%;
  max-width: 600px;
  padding-right: 18px;
  position: relative;
}

.swiperImage {
  width: 225px;
  height: 270px;
  border-radius: 2.836px;
  object-fit: cover;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextButtonIcon {
  fill: none;
  stroke: var(--white);
  stroke-width: 1.5px;
  transition: stroke 0.3s ease;
  width: 9px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .aboutTitle {
    line-height: 50px;
  }

  .swiperImage {
    width: 350px;
    height: 430px;
    border-radius: 4.5px;
  }

  .nextButtonIcon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutContainer {
    flex-direction: row;
  }

  .swiperImage {
    width: 500px;
    height: 610px;
    border-radius: 6.333px;
  }

  .nextButton {
    right: -55px;
  }

  .nextButtonIcon {
    width: 64px;
    height: 64px;
  }
}
