.featuresSection {
  background-image:
    radial-gradient(
      27.47% 50.87% at 11.45% 20.62%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 5, 6, 0.52) 25.99%,
      rgba(6, 7, 8, 0.74) 65.03%,
      #080a0b 99.74%
    ),
    url('/src/assets/FeaturesSection/bg_mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featuresContainer {
  display: flex;
  width: 100%;
  max-width: 350px;
  padding: 82px 12px 85px 115px;
  justify-content: end;
  margin: 0;
}

.sectionTitle {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
}


.sectionSubtitle {
  margin-bottom: 25px;
  text-align: left;
}

.featuresList {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  list-style: none;
}

.featuresElement {
  display: flex;
  /* align-items: flex-start; */
  margin-bottom: 30px;
}
.featuresElementDesc {
    
    padding-top: 18px;
  text-align: justify;
  line-height: 1.6;
}

.featuresElementMarker {
  position: relative;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
  cursor: pointer; 
}

.featuresElementMarker::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;  
  border: 2px solid var(--white); 
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: block;
}


.featuresElementMarker::after {
  content: '';
  flex-grow: 1;
  width: 2px;
  margin-top: 0px;
  background-color: var(--white);
}

.featuresElementMarker.active::before {
  background-color: var(--white);
  border-color: var(--white);
}
